/* גוף הדף */
body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  direction: rtl;
  text-align: right;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/habrecha-a69d3.firebasestorage.app/o/background_mobile_new.webp?alt=media&token=ecc773a6-b1b6-433d-8157-6bb41f736e5a');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* פונטים עבור כותרות */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cardo', serif;
}

/* עיצוב כותרות */
h1 { font-size: 36px; margin-bottom: 20px; }
h2 { font-size: 30px; margin-bottom: 15px; }

/* עיצוב טקסט ב־code */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: -1;
}
